<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-control" content="public">
    <title>Private Practice Application</title>
</head>

<body>


    <h1>Welcome to Dr. A's Clinic!</h1>

    <div class='doctorContent'>

        <img class='providerPic' src="https://i1.wp.com/static.vectorcharacters.net/uploads/2018/06/doctor-gif.gif">
    </div>
</body>

</html>